name: CI
concurrency:
  group: ci-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true
on:
  workflow_dispatch:
  push:
    branches:
      - master
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout current repo (mtcn)
        uses: actions/checkout@v4
        with:
          path: mtcn

      - name: Checkout meshtastic/firmware
        uses: actions/checkout@v4
        with:
          repository: meshtastic/firmware
          path: firmware
          submodules: true
          fetch-depth: 1

      - name: List dir to confirm
        run: ls -la && ls -la firmware

      - name: Replace variants
        run: |
          rm -rf firmware/variants
          cp -r mtcn/variants firmware/

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          cd firmware
          python -m pip install -U pip
          python -m pip install -U platformio
          python -m pip install -r requirements.txt

      - name: Build
        run: |
          cd firmware
          python build.py --matrix

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: firmware
          path: |
            firmware/release/*.bin
            firmware/release/*.uf2
            firmware/release/*.hex
            firmware/release/*.zip
